*{
    margin: 0;
}

body{
    height: 100%;
    background-color: rgb(213, 184, 240);
}

.container{
    display: flex;
    border: 1px solid royalblue;
    height: 500px;
    width: 40%;

}

.container div{
    height: 50px;   
    
}

.item-1{
    flex: 1 1 100px;

    /* Detalle de los atributos de la porpiedad flex */

     /* flex-grow: 1; /*controla como crece un elemento segun su espacio disponible */
    /* flex-shrink: 1; controla como se encoge un elemento cunato falta un espacio */
    /* flex-basis: 100px; definse el tamaño  inicial antes de que se adapte */ 

    background-color: brown;

}

.item-2{
    flex: 2 2 200px;
    background-color: rgb(75, 203, 186);
    
}

.item-3{
    flex: 1 1 100px;
    background-color: rgb(128, 42, 165);
    
}